.idea
__pycache__
.DS_Store
*/.temp
*/clusters
*/logs/
*/localResults
*/data
*/results.xml
pat-project/*.zip
pat-project/*.json
!pat-project/pat.json
*/sweep*.json
*/sweep*.zip
*/test_results/
*/tests/output/*
**/local_configuration.*
**/server.pid
**/data_point/initialize.args
**/analysis/initialize.args
*.swp
